
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.header{
    background-image: url(bg1.png);
    height: 500px;
}
h1{
    color: white;
    width: 400px;
    padding: 130px 0 0 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.headtxt{
    color: white;
    padding: 10px 0 0 50px;
}
.headerbtn1{
    color: white;
    background: #186BD6;
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 20px 0 0 50px; 
}
.headerbtn2{
    color: white;
    background: #186BD6;
    border: none;
    border-radius: 7px;
    padding: 5px;
    margin: 20px 0 0 50px0; 
}
h4{
    text-align: center;
    margin: 50px 0 0 0;
}
.smltitle{
    font-size: 17px;
    margin: 20px 0 0 0;
}
.smltxt{
    font-size: 14px;
    margin: 5px 0 30px 0;
    color: #747474;
}
.left{
    text-align: left;
    width: 300px;
    margin: 50px 0 20px 50px;
}
.right{
    text-align: right;
    margin: 50px 50px 20px 0;
}
.closing{
    font-size: 19px;
    margin: 20px 0 5px 50px;
}
.per{
    font-size: 12px;
    margin: 15px 0 5px 50px;
}